<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- from https://github.com/ironexdev/zoom -->
        <script src="./static/zoom.js"></script>

        <style>

html, body {
    height: 100%;
    margin: 0px;
}

.zoom {
    height: 100%;
    width: 100%;
    border: 1px;
    border-style: solid;

    overflow: hidden;
}

.zoom-transition{
    transition: -moz-transform ease 200ms;
    transition: -ms-transform ease 200ms;
    transition: -o-transform ease 200ms;
    transition: -webkit-transform ease 200ms;
    transition: transform ease 200ms;
}
        </style>

        <title>
            Configuring the magic climbing wall
        </title>
    </head>
    <body>
        <div id="instructions">
            {{ instructions }}
        </div>
        <div class="zoom">
			<img id="wall" src="{{ wall_image }}" />
        </div>

<script type="text/javascript">

var wall = document.getElementById("wall");
var wall_height = wall.naturalHeight;
var wall_width = wall.naturalWidth;

window.addEventListener("load", function () {
    recalculate_max_zoom();
});

$(window).on('resize', function () {
    recalculate_max_zoom();
});

function map_click(container, offsetX, offsetY) {
    console.log("I've been clicked at "+offsetX+", "+offsetY);
}

function recalculate_max_zoom() {
    // Need to recompute this when the window is resized
    var window_height = window.innerHeight;
    var window_width = window.innerWidth;

    var min_scale = Math.max(window_height / wall_height , window_width / wall_width);
    zoom({}, {
        scaleMax: 5,
        scaleMin: min_scale,
        scaleDifference: 0.1, // Used on wheel zoom
    }, null, map_click);
}

</script>

    </body>
</html>
